name: lint
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Check formatting
        run: |
          go fmt ./...
          if [ -n "$(git diff --name-only)" ]; then
            echo "Code is not formatted. Run 'go fmt ./...'"
            git diff
            exit 1
          fi
      - name: Run go mod tidy
        run: go mod tidy -diff
      - name: Run golangci-lint
        run: go tool golangci-lint run
